MONITORING_PORT=3010
JOB_POLL_INTERVAL_MS=5000
JOB_MAX_ATTEMPTS=5
MONITORING_INTERVAL_MS=300000
MONITORING_REQUEST_TIMEOUT_MS=15000
AUTOMATION_BASE_URL=http://localhost:3001
MONITORING_JOB_STORE_PATH=data/removal-jobs.json
INSTANT_APP_ID=75f5af17-a21e-4eff-b44c-87556db39142
INSTANT_APP_ADMIN_TOKEN=19c47dfd-fa4d-4b4e-a708-a0d1c8da6a40
